@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.cDiv{
    position: relative;
    top: 145px;
    left: 0;
   
}
.cDiv img{
  height: 60vh;
}
@media (max-width:400) {
  .cDiv img{
    height: 20vh;
  }
  
}