@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.mainDiv{
    position: relative;
    left: 0;
    top: 145px;
}
 
.topDiv{
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: 40px 120px;
}
.topDiv h1{
    font-weight: 100;
    padding-bottom: 50px;
}
.topDiv a{
    text-decoration: none;
    color: white;
}
.topDiv a:hover{
    color: gray;
}
.topDiv p{
    font-size: 14px;
}
.btmdiv{
    background-color: rgba(0, 0, 0, 0.814);
    display: flex;
    padding: 4px 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    text-decoration: none;
    color: white;
    
}
.btmdiv a{
    text-decoration: none;
    color: white;
}
.btmdiv a:hover{
    color: gray;
}
.sidebtn{
    position: fixed;
    bottom:  39px;
    right:30px;
    display: none;
   box-shadow: 0 1px 2px black;
}
.sidebtn i{
        padding: 8px;
        background-color: gray;
}
.mainDiv:hover .sidebtn{
    display: block;
}


/* media queries max width 500 */
@media (max-width:500px) {
    .topDiv{
        padding: 40px 3px;
    }
    .btmdiv{
        display: block;
        

    }
    .mainDiv{
        top: 530px;
    }
    .sidebtn{
        display: none;
    }
}
/* .topDiv{
    padding: 50px 70px;
    text-align: center;
    background-color: #4a4a4a;
    color: white;
}
.divOne a{
    color: white;
}
.divOne a:hover{
    color:cornflowerblue;
}
.divOne h1{
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 20px;
}
.sidebtn{
    position: relative;
    border: solid black 2px;
    padding: 4px;
    bottom: 30px;
        right: 20px;
        display: inline;
}
  
.divTwo{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:  #444;
    border: 2px solid #4a4a4a;
}
.divTwo p{
    display: inline-block;
    color: white;
}
.divTwo a{
    text-decoration: none;
    color: white;
}
.divTwo a:hover{
    color: cornflowerblue;
} */