@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.testimnialDiv{
    
    width: 1200px;
 padding: 100px 40px;
 border: 1px solid black;
}
.testimnialDiv div{
    position: relative;
    left: 0;
    top: 500px;
}
.testimnialDiv p{
    padding: 20px 40px;
    font-size: 6rem;
}
.testimonialDiv img{
    float: left;
    padding: 20px;
}
.testispan{
    float: right;
}
.testimnialDiv h3{
    display: inline ;
    text-align: right;
}